
# Install of pyenv
## https://medium.com/@aashari/easy-to-follow-guide-of-how-to-install-pyenv-on-ubuntu-a3730af8d7f0

sudo apt install -y make build-essential libssl-dev zlib1g-dev libbz2-dev \
  libreadline-dev libsqlite3-dev wget curl llvm libncursesw5-dev xz-utils \
  tk-dev libxml2-dev libxmlsec1-dev libffi-dev liblzma-dev
curl https://pyenv.run | bash
echo -e 'export PYENV_ROOT="$HOME/.pyenv"\nexport PATH="$PYENV_ROOT/bin:$PATH"' >> ~/.bashrc
echo -e 'eval "$(pyenv init --path)"\neval "$(pyenv init -)"' >> ~/.bashrc
pyenv update
pyenv install 3.12.4
pyenv global 3.12.4


# Install POETRY
curl -sSL https://install.python-poetry.org | python3 -
export PATH="$HOME/.local/bin:$PATH"

# Install quarto
# Set the version number
VERSION="1.5.56"
URL="https://github.com/quarto-dev/quarto-cli/releases/download/v${VERSION}/quarto-${VERSION}-linux-amd64.deb"
curl -L -O "$URL"
FILENAME="quarto-${VERSION}-linux-amd64.deb"
sudo dpkg -i ./"$FILENAME"

# Fix any missing dependencies
sudo apt-get install -f

##
## Updates for .bashrc
##

export PYENV_ROOT="$HOME/.pyenv"
export PATH="$PYENV_ROOT/bin:$PATH"
eval "$(pyenv init --path)"
eval "$(pyenv init -)"

# Adds poetry and poetry scripts to path
export PATH="$HOME/.local/bin:$PATH"

# Used to set up quarto in WSL.

# Check if the command "poetry env info -e" returns a value
POETRY_ENV=$(poetry env info -e 2>/dev/null)
if [ -n "$POETRY_ENV" ]; then
  export QUARTO_PYTHON="$POETRY_ENV"
else
  PYENV_PYTHON=$(pyenv which python 2>/dev/null)
  if [ -n "$PYENV_PYTHON" ]; then
    export QUARTO_PYTHON="$PYENV_PYTHON"
  else
    export QUARTO_PYTHON=$(which python)
  fi
fi

