
# Original pyenv strings

#export PYENV_ROOT="$HOME/.pyenv"
#command -v pyenv >/dev/null || export PATH="$PYENV_ROOT/bin:$PATH"
#eval "$(pyenv init -)"

# modified pyenv strings to work inside WSL

export PYENV_ROOT="$HOME/.pyenv"
export PATH="$PYENV_ROOT/bin:$PATH"
eval "$(pyenv init -)"

# used to set up poetry
export PATH="$HOME/.local/bin:$PATH"

# Used to set up quarto in WSL.

# Check if the command "poetry env info -e" returns a value
POETRY_ENV=$(poetry env info -e 2>/dev/null)
if [ -n "$POETRY_ENV" ]; then
  export QUARTO_PYTHON="$POETRY_ENV"
else
  PYENV_PYTHON=$(pyenv which python 2>/dev/null)
  if [ -n "$PYENV_PYTHON" ]; then
    export QUARTO_PYTHON="$PYENV_PYTHON"
  else
    export QUARTO_PYTHON=$(which python)
  fi
fi

